
.right-form {
    -fx-background-color: linear-gradient(to bottom, white, white);
    -fx-padding: 20px;
}

.left-form {
    -fx-background-color: linear-gradient(to bottom, #5cb3ec, #9e24d7);
    -fx-padding: 20px;
    -fx-height: 400px;
    -fx-text-fill: white;
}
.label
{
    -fx-text-fill: white;

}

.login-btn {
    -fx-background-color: #6888a5b0;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px;
}

.textfield {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-font-size: 14px;
    -fx-padding: 10px;
}

.close-btn {
    -fx-background-color: transparent;
    -fx-cursor:hand;
    -fx-text-fill: #e74c3c;
    -fx-font-size: 18px;
    -fx-padding: 5px;
    -fx-border-width: 0;
}
.close:hover{
    -fx-background-color: #d4402f;
}

label {
    -fx-font-size: 16px;
}


